@{
    Layout = "~/views/shared/_Layout.cshtml";
}
@model Account;
<div class="account_customer">
    <div>
        <div class="my_account row-wrap">
            <div class="my_account_left l-3 m-12 s-12">
                <div class="my_account_container">
                    <div class="my_account_acc">
                        <div class="account_img"><img src="~/Cus_assets/img/icons8-pet-64.png" alt=""></div>
                        <h3 class="account_name">@Model.UserName</h3>
                        <div class="account_email"><p>@Model.Email</p></div>
                    </div>
                    <div class="account_about">
                        <h3 class="account_heading">Giới thiệu</h3>
                        <p class="account_account_detail">I'm Yuki. Full Stack Designer I enjoy creating user-centric, delightful and human experiences.</p>
                    </div>
                </div>
            </div>
            <div class="my_account_right l-9 m-12 s-12">
                <div class="my_account_container">
                    <div class="account_detail_personal">
                        <h4 class="account_heading">Thay đổi mật khẩu</h4>
                        <div class="row">
                            <form action="/cus_account/ChangePassword/" class="account_detail_left l-12 m-12 s-12">
                                @Html.TextBoxFor(x=>x.Id, new {@type="hidden",@id="IDcr"})
                                <div class="account_data_input">
                                    <div><label for="">Mật khẩu cũ</label></div>
                                    <input type="password">
                                </div>
                                <div class="account_data_input">
                                    <div><label for="">Mật khẩu mới</label></div>
                                    <input id="pass" type="password">
                                </div>
                                <div class="account_data_input">
                                    <div><label for="">Nhập lại mật khẩu</label></div>
                                    <input id="repass" type="password">
                                </div>
                                <button style="outline:none; border:none; margin-top:10px" class="btn_primary">Thay đổi</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(".account_detail_left").submit(function (e) {
            e.preventDefault();
            var id = $('#IDcr').val();
            var newPassword = $('#pass').val();
            var confirmPassword = $('#repass').val();
            if (newPassword !== confirmPassword) {
                Toastify({

                    text: "Mật khẩu không trùng khớp",
                    close: true,
                    duration: 2000,
                    style: {
                        background: "#dc3545",
                    },
                    offset: {
                        x: 0, // horizontal axis - can be a number or a string indicating unity. eg: '2em'
                        y: 70 // vertical axis - can be a number or a string indicating unity. eg: '2em'
                    }

                }).showToast();
            }
            else {
                $.ajax({
                    url: '/cus_account/ChangePassword',
                    data: { ID: id, newpass: newPassword },
                    type: 'POST',
                    success: function (data) {
                        if (data.success) {
                            Toastify({

                                text: "Thay đổi mật khẩu thành công",
                                close: true,
                                duration: 2000,
                                style: {
                                    background: "#28a745",
                                },
                                offset: {
                                    x: 0, // horizontal axis - can be a number or a string indicating unity. eg: '2em'
                                    y: 70 // vertical axis - can be a number or a string indicating unity. eg: '2em'
                                }

                            }).showToast();

                        }
                    }
                });
            }
        });
    </script>
}
