@model Pet_Shop2.ModelsView.LoginViewModel
@{
    Layout = "";
    ViewData["Title"] = "Lấy lại mật khẩu";
}

<link rel="stylesheet" href="~/Cus_assets/css/style.css">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="~/Cus_assets/css/grid.css">
<div class="container_login">
    <form action="~/cus_account/forgetpassword/" method="post" class="login" autocomplete="off">
        <h3 class="login_title">Quên mật khẩu</h3>
        <div class="container_input" style="margin-top: 50px;">
            <h4>Email của bạn</h4>
            <div class="container_flex_login login_user">
                <i class='bx bxs-user'></i>
                @Html.TextBoxFor(x=>x.UserName, new {@class="login_user_main",@placeholder="Vui lòng nhập email"})
                @*<input id="login_user_main" type="text">*@
            </div>
        </div>
        <div class="container_input">
            <h4>Số điện thoại</h4>
            <div class="container_flex_login password_user">
                <i class='bx bxs-phone'></i>
                @Html.TextBoxFor(x=>x.Phone, new {@class="password_user_main",@type="text"})
                @*<input id="password_user_main" type="password">*@
            </div>
        </div>
        <div class="container_submit_login">
            <button type="submit" class="submit_login">Lấy lại mật khẩu</button>
        </div>

        <div class="login_other">
            <p>Đăng nhập bằng</p>
            <ul class="list_login">
                <li><a href=""><i class='bx bxl-facebook'></i></a></li>
                <li><a href=""><i class='bx bxl-google'></i></a></li>
            </ul>
        </div>
        <p class="register_account">Bạn chưa có tài khoản ? <a href="~/cus_account/register">Đăng kí</a></p>
    </form>
</div>
@section Scripts{

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
@await Component.InvokeAsync("Notyf")
