@{
    Layout = "~/views/shared/_Layout.cshtml";
    ViewData["Title"] = "Lỗi trang";
}
<div class="page_error padding-l-r margin-top">
    <div class="conatainer_errorpage">
        <img src="~/Cus_assets/img/error.png" alt="">
        <div class="detail_error">
            <h3>Trang truy cập của bạn bị lỗi. Vui lòng kiểm tra hoặc quay về <a href="/home/index">Trang chủ</a> </h3>
        </div>
    </div>

</div>