<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Admin_assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="/admin/login/logout" class="d-block">ADMIN</a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Biểu đồ
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="~/Admin/home/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Biểu đồ Pet Shop</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Admin_assets/index2.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Dashboard v2</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Admin_assets/index3.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Dashboard v3</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="~/Admin/Role/index" class="nav-link">
                    
                    <i class="nav-icon fas fa-user-tag"></i>
                    <p>
                        Quản lí vai trò
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Admin/Account/index" class="nav-link">
                    @*<i class="nav-icon fas fa-th"></i>*@
                    <i class="nav-icon fas fa-user-circle"></i>
                    <p>
                       Quản lí tài khoản
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="~/Admin/Customer/index" class="nav-link">
                    
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        Quản lí khách hàng
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-shopping-bag"></i>
                    <p>
                        Quản lí Sản phẩm
                        <i class="fas fa-angle-left right"></i>
                        <span class="badge badge-info right">6</span>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="~/admin/categories/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Loại sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/admin/products/index" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/admin/products/indexcomment" class="nav-link">
                            <i class="far fa-comments nav-icon"></i>
                            <p>Bình luận</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/admin/products/track" class="nav-link">
                            <i class="far fa-comments nav-icon"></i>
                            <p>Thùng rác</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="~/Admin/blog/index" class="nav-link">
                    
                    <i class="nav-icon fas fa-blog"></i>
                    <p>
                        Quản lí tin tức
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                        Quản lí trang
                        <i class="fas fa-angle-left right"></i>
                        <span class="badge badge-info right">4</span>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/admin/page/trangchu" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Trang chủ</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sản phẩm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tin tức</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Liên hệ</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="~/admin/order" class="nav-link">
                    <i class="nav-icon fas fa-shipping-fast"></i>
                    <p>
                        Quản lí Đơn hàng
                    </p>
                </a>
            </li>
        </ul>
    </nav>
</div>
