@{
    ViewData["Title"] = "Liên hệ";
    Layout = "~/views/shared/_Layout.cshtml";
}
<div class="contact margin-top">
    <div class="contact_container row-wrap">
        <div class="contact_info l-6 m-12 s-12">
            <h3 class="contact_title">Infor</h3>
            <div class="name_phone">
                <div class="contact_name">
                    <h3>Your name</h3>
                    <input class="input_contact_user" type="text" name="" id="">
                </div>
                <div class="contact_phone">
                    <h3>Your phone</h3>
                    <input class="input_contact_user" type="text" name="" id="">
                </div>
            </div>
            <div class="email_subject">
                <div class="contact_email">
                    <h3>Your email Address</h3>
                    <input class="input_contact_user" type="text">
                </div>
                <div class="contact_subject">
                    <h3>Subject</h3>
                    <input class="input_contact_user" type="text">
                </div>
            </div>
            <div class="contact_message">
                <h3>Message</h3>
                <textarea name="" id="" cols="30" rows="5"></textarea>
            </div>
            <button class="submit_mess" type="submit">Submit</button>
        </div>
        <div class="contact_address l-6 m-12 s-12">
            <h3 class="contact_title">Address</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3892.1897225222915!2d109.22711114877488!3d12.701036795798457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317019c0294893cf%3A0xd5808a5d9d479eea!2zVGh14buRYyB0aMO6IHkgVEFDTiBUdeG6pW4gTWFpIC0gdGjhu6ljIMSDbiBjaMSDbiBudcO0aQ!5e0!3m2!1sen!2s!4v1685505943034!5m2!1sen!2s"
                    width="600" height="450" style="border:0;" allowfullscreen=""
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>

        </div>

    </div>
</div>